@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #222327 ;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #29fd53;
    border: 1px solid #5c5c5c;
    border-radius: 10px;
}
header{
    height: 80px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.3s ease;
    background: transparent;
}
header .brand{
    color: #29fd53;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation .navigation-items a{
    position: relative;
    color: white;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px ;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover{
    color: #29fd53;
}

header .login a{
    background-color: #29fd53;
    color: #000000;
    font-weight: 900;
    padding: 0.6rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
header .login a:hover{
    scale:2.05;
    color: #fff;
}
header .login a:active{
    scale: 0.95;
}

header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #29fd53;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before{
    width: 100%;
}
section{
    padding: 100px 200px;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #222327 ;
}
.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
}
.home .content{
    z-index: 888;
    color: white;
    width: 70%;
    margin-top: 50px;
    display: none;
}
.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 3em;
    font-weight: 800;
    color: #29fd53;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content h1 span{
    font-size: 1.1em;
    font-weight: 700;
}
.home .content p{
    font-size:1em;
    font-weight: 400;
    margin-bottom: 65px;
    text-align: justify;

}
.home .content a{
    background-color: #29fd53;
    color: white;
    padding: 15px 35px;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
}
.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.home .media-icons a{
    color: #29fd53;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icons a:hover{
    transform: scale(1.3);
}
.menu-btn{
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    display: none;
    color: white;
}
.menu-btn::before {
    content: "\2630"; 
  }
  .home img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;

}
.slider-navigation .nav-btn.active{
    background: #29fd53;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.botaodelogin{
    display: none;
    width: 100%;
    border: 2px solid #29fd53;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    
}
@media(max-width:1150px){
    .botaodelogin{
        display: block;
        
    }
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin:20px;
    }
    header .navigation .navigation-items a:before{
        background: #29fd53;
        height: 4px;

    }

    header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    .login{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn.active:before{
            content: "\2716";
    }
    .menu-btn.active{
        z-index: 999;
        transition: 0.3s ease;
    }
    
}

@media(max-width:600px){
    .home .content h1{
        font-size: 2em;
        margin-bottom: 20px;
    }
    .home .content h1 span{
        font-size: 1.0em;
        font-weight: 400;
    }
}

@media(max-width:450px){
    .home .content h1{
        font-size: 1em;
        margin-bottom: 0px;
    }
    .home .content h1 span{
        font-size: 0.8em;
    }
    .home .content a{
        padding:8px 20px;
        font-size: 1em;
        font-weight: 700;
        border-radius: 20px;
    }
}

.conta{

    font-family: "Poppins", sans-serif;
    color: #ffffff;
}



